/*just apply universal rule*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*designing of navbar*/
#navbar{
    /*navbar should be sticky at the top of the webpage*/
    position: sticky;
    top: 0;
    z-index: 10;
}
/*fix the ngo logo of your nabvbar*/
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
/*shift the navbar list to the right sidee*/
navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
/*now just give hover effect to your navbar*/
#navbar ul li a :hover{
    color: #007bff;
}
/*just add color to your navbar*/
.navbar
{
    background:#fff;
}
/*just give border to your toogler*/
.navbar-toggler{
    border: none;
}
/*add changes to navbar link*/
.nav-link{
    color:#555;
    font-weight: 600;
    font-size: 16px;
}
/*for full length images in the slider part*/
.slider{
    width: 100%;
}
/*this part is to give styling to the heading written on the slider images*/
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h5{
    color: #fff;
    font-size: 30px;
}
/*about styling*/
#About{
    padding-top:50px ;
    padding-bottom:50px ;
    color:#555;
    text-align: center;
}
/*styling for about button*/
#About .btn{
    margin-top:20px ;
    margin-bottom:30px ;
}
/*add styling to your about us content*/
.about-content{
    padding-top: 20px;
}
/*styling of project part*/
#projects{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url();
    background-size: cover;
    background-position: center;
    color:#efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*styling of heading part of project*/
#projects h1{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}
#projects h1::after{
    content: '';
    background:#efefef;
    display: block;
    height: 3px;
    width:170px;
    margin:20px auto 5px;
}
.projects{
    margin-top:40px;
}
/*desining of icons*/
.icon{
    font-size: 40px;
    margin:20px auto;
    padding:20px;
    height:80px;
    width:80px;
    border:1px solid #fff;
    border-radius: 50%;
}
/*designing of paragraph*/
#projects p{
    font-size:14px;
    margin-top:20px;
    color:#ccc;
}
/*designing of inpiration part*/
#Inspiration{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;
}
/*designing of heading*/
h1{
    text-align: center;
    color:#555;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height:3px;
    width: 170px;
    margin: 20px auto 5px;
}
/*desining of inspiration part*/
#Inspiration{
    padding:40px 0;
    background:#efefef;
}
.single-price{
    margin:10px auto;
    display:inline;
    float:  left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    display: inline;
    float: left;
    padding:10px 10px;
    text-align: center;
    width: 100%;
    background-color:pink;
}
.price-head h2{
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding:5px;
    text-transform: uppercase;
}
/*desigining of contact us part*/
#contact{
    background: #efefef;
    padding-bottom: 40px;
    padding-top: 40px;
    color:#777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0;
    border: none;
}
::placeholder{
    color:#999;
}
/*designing of right hand side of contact us block*/
.follow{
    background: #fff;
    padding:10px;
    margin:15px;
}
/*designing for icons*/
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*designing of footer part*/
#footer{

    background:#333;
    color:#fff;
    padding: 12px;
}
.container{
    text-align: center;
}
/*designing of icon*/
.fa-heart-o{
    margin: 3px;
    color: red;
}
